.wrapper {
  width: 100%;
  font-family: Pretendard;
  .wrapper1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../static/images/intro1.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    width: 100%;
    height: 84vh;
    opacity: 0.6;

    .text1 {
      color: white;
      padding-top: 50px;

      #smart {
        color: aquamarine;
      }
      #parenty {
        font-weight: bold;
        font-size: 60px;
        display: block;
      }
      #small {
        font-size: 10px;
        display: block;
        margin-bottom: 15%;
      }
      #pink {
        color: #feccbe;
      }
      .yellow {
        color: #feebb6;
      }
      #checks {
        font-size: 15px;
        margin-top: 20%;
        display: block;
      }
    }
  }
  .wrapper2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../static/images/intro1.jpg);
    background-position: -350px;
    background-size: 300%;
    background-repeat: no-repeat;
    width: 100%;
    height: 84vh;
    opacity: 0.6;
  }
}
